body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header {
  background-color: black;
  height: 5vh;
}
#logoContainer {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  margin-bottom: 100px;
  margin-top: -25px;
}
#guildLogo {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#navBar {
  margin-bottom: 3vh;
  background-color: white;
}
#navBar > a:nth-of-type(3) {
  margin-right: 16px;
}SS
#navBar button {
  float: right;
}
#joinCommunityForm > form > div > div {
  margin-bottom: 16px;
}
body {
  background-color: rgb(226, 224, 224);
}
#blogFeed small {
  float: right;
  margin: 10px;
}
#blogFeed figcaption {
  margin: 10px;
}
#blogFeed figure {
  width: 100%;
}
#blogFeed figure > img {
  width: 100%;
}
#blogFeed > div > div > div > p:nth-of-type(1) {
  float: left;
  margin: 10px;
}
#blogFeed > div > div > div {
  margin-bottom: 20px;
  background-color: white;
}
#upcomingEventsHeading {
  background-color: white;
  height: 35px;
  margin-bottom: 20px;
}
#upcomingEventsHeading > div {
  height: 35px;
}
#upcomingEventsHeading > div > p {
  margin: 5px;
  font-weight: bold;
}
#upcomingEvents > div > div {
  margin-bottom: 20px;
}
#upcomingEvents > div > div > div > div {
  height: 20px;
}
#upcomingEvents > div > div > div > a {
  float: right;
}
#upcomingEvents > div > div > div > div > span {
  float: right;
}